/*
This is the common Point of View presets.
This file has to be imported after bootstrap
*/



//-----------files tree------------

.files-tree{
    ul.unstyled;
    ul{
        ul.unstyled;

        li{
            margin-left:7px;
            padding-left:13px;
            border-left:1px solid @gray;
        }
    }
}

//----------utils-----------------------------


.fl-right{
    float:right;
}
.fl-left{
    float:left;
}


[rel='tooltip']{
 cursor:pointer;
}

.text-color-red{
    color:@red;
}
.text-color-grayLight{
    color:@grayLight;
}


