/*
This is the common Point of View presets.
This file has to be imported after bootstrap
*/



//-----------files tree------------

.files-tree{
    ul.unstyled;
    ul{
        ul.unstyled;

        li{
            margin-left:7px;
            padding-left:13px;
            border-left:1px solid @gray;
        }
    }
}

//---------margins------------------

.generateMargins (@index) when (@index > 0) {
  (~".mt@{index}") {
    margin-top:@index*20px;
  }
  (~".mb@{index}") {
    margin-bottom:@index*20px;
  }
  (~".pt@{index}") {
    padding-top:@index*20px;
  }
  (~".pb@{index}") {
    padding-bottom:@index*20px;
  }
  .generateMargins(@index - 1);
}
.generateMargins(10);


//----------utils-----------------------------


.fl-right{
    float:right;
}
.fl-left{
    float:left;
}


[rel='tooltip']{
 cursor:pointer;
}

.text-color-red{
    color:@red;
}
.text-color-grayLight{
    color:@grayLight;
}


