//will need @phpAppFolder for images...
@import "../libs/bootstrap/less/bootstrap";
@import "../libs/bootstrap/less/responsive";

.files-tree{
    ul.unstyled;
    ul{
        ul.unstyled;

        li{
            margin-left:7px;
            padding-left:13px;
            border-left:1px solid @gray;
        }
    }
}


[rel='tooltip']{
 cursor:pointer;
}

.text-color-red{
    color:@red;
}
.text-color-grayLight{
    color:@grayLight;
}

img.toshop{
    background-image:url(@phpAppFolder+"/app/fmk/img/bg/toshop-like.png");
}

.section{
 padding-top:80px;
}
.section{
    .page-header{
        h2{
            font-size:16px;
            .text-color-grayLight;
            text-transform:uppercase;
        }
        h3{
            font-size: 60px;
            letter-spacing: -4px;
            font-weight: bold;
            font-family: helvetica, arial;
            .text-color-grayLight;
            line-height: 57px;
            max-width: 362px;
        }
    }
}

p.floating{
    img{
    float:left;
    margin-right:20px;
    margin-bottom:10px;
    }
}
p.floating:after{
content:" ";
display:block;
clear:both;
}