/* 
*    Document   : lolo.css
    Created on : 14 sept. 2012, 14:03:50
    Author     : whoareyou
    Description:
        Purpose of the stylesheet follows.
*/

h1.lolo{
    color:purple;
}
p.lolo_on{
    color:red;
}
p.lolo_off{
    color:blue;
}
