//will need @phpAppFolder for images...
@import "../../libs/bootstrap/less/bootstrap";
@import "../../libs/bootstrap/less/responsive";

@import "variables";
@import "backgrounds";
@import "separators";
@import "borders";
@import "fonts";
@import "sizes";

/* HAVANA COMPONENTS */
@import "components";


body {
    .bg-image-press-room;
}

#mainContent {
    .posts {
        //.bg-color-content-bloc;
    }
}

.isLoading {
  height: 600px;
  .transition(.6s ease-in-out height);
  overflow: hidden;
  opacity: 0.1;
}