//will need @phpAppFolder for images...
@import "../../libs/bootstrap/less/bootstrap";
@import "../../libs/bootstrap/less/responsive";

@import "variables";
@import "backgrounds";
@import "separators";
@import "borders";
@import "fonts";
@import "sizes";
@import "popinloader";
@import "wysiwyg";

/* HAVANA COMPONENTS */
@import "components";


body {
    .bg-image-press-room;
    margin-top: 50px;
}

.background-content {
    .bg-color-content-bloc;
}

.loading-box {
  min-height: 100%;
  position: relative;
}

.loading-box-inside {
  content: "toto";
  position: absolute;
  top:0px;
  z-index: 50000;
  height: 100%;
  width: 100%;
  background-image: url("@{path}/img/loader.gif");
  background-repeat: no-repeat;
  background-position: 50% 100px;
  background-color: #ffffff;

}


/* front admin */
.manageData {
  position: relative;
  .top-gutter;
}


/* Menu */
/*
#havana-main-menu {
  div {    
      .font-nav-tab-title;
      &:first-child {
      .marginLeft-gutter;
      }
      .marginBigLeft-gutter;
      padding-top:10px;
      a {
        color: @color3;
      }
    }
}
*/

.top_submenu {
  padding-top: 8px;
}

#havana-main-submenu {
  div.item-subcat {
    border-right:1px solid @color4;
    
    //.marginLeft-gutter;
    //.paddingBigRight-gutter;

    &:first-child {
      //.marginLeft-gutter;
    }

    &>div.noGutter {
        .marginLeft-gutter;
    }
  }

  ul {
    li {
      a {
          line-height: 15px;
          margin-bottom: 3px;
          .font-submenu;

          &:hover {
            color:@color3;
          }
        }        
    }

    &.item-right {
            .marginBigLeft-gutter;
    }
  }


}
#havana-main-footer {
    div {        
        &.item-title {
            border-right:3px solid rgba(0, 0, 0, 0.3);
            
            &:last-child {
                border-right:none;
            }
            
            &>div.noGutter {
                .marginLeft-gutter;
            }
            padding-top:5px;
            a {
              .font-nav-tab-title;
              color: @color3;
            }

            div {
                &.item-subcat {
                    &>div.noGutter {
                        .marginLeft-gutter;
                    }
                    a {
                        .font-submenu;

                        &:hover {
                          color:@color3;
                        }
                    }
                }
            }
        }
    }
}



#press_footer {
    .bg-image-active;
    margin-top:200px;
}

[data-nav-is-ajax]{
  cursor: pointer;
}