/* SEPARATOR STYLES */
.separator-nav-tab {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right:1px solid @color4;
}

.separator-homepage-bloc {
    height:@separator1;
    background-color:@color4;    
}

.separator-download-page {
    height:@separator1;
    background-color:@color7;    
}

.separator-text-bloc {
    height:@separator1;
    background-color:@color7;    
}

.separator-download-attachment {
    height:@separator1;
    background-color:@color8;    
}

.separator-contact-bloc {
    height:@separator1;
    background-color:@color8;    
}