/* DOWNLOAD COMPONENT */ 
.downloadComponent {

    .bg-color-download-bloc;

    .item-title {   
        .font-bloc-title-caps;
        .bg-image-ban-grey;
        .padding-gutter;
    }

    .item-content{
        .padding-gutter;
        display:block;
        text-align:center;

        img{
            .square(@pw5);
            .pull-left;
        }
    }

    .item-titleIcon {   
        .font-downloadpack-title;
        line-height:35px;
        margin-left:12px;
    }

    .item-subtitle {   
        .font-nav-tab-title;
        display:block;
        .marginLeft-gutter;
        
    }

    .item-logo-thumbnail {
      .padding-gutter;
    }

    .item-download-text {
      .marginTop-gutter;
      .marginBottom-gutter;
    }



}


.the-upload{

  position:relative;
  padding-bottom:20px;
  margin-top:20px;

  input[type="text"]{
    display:none;
  }
  .progress{
    width: 150px;
    position: absolute;
    top:0px;
    left:30px;
  }
}


