.CustomGutter(@gutterW,@columnW){
    .spanNoGutter (@index) when (@index > 0) {
      (~".zzzzzzzzzzzspan@{index}>.noGutter") {
            margin-left:-@gutterW/2px;
            width:(@columnW*@index)+(@gutterW*@index);
         }
      .spanNoGutter(@index - 1);
    }
    //.spanNoGutter (0) {}
    .spanNoGutter(@gridColumns);

    .padded (@index) when (@index > 0) {
      (~".span@{index}>.padded") {
            margin-left:-@gutterW/2px;
            //width:(@columnW*@index)+( @gutterW*(@index - 1) );
            width:(@columnW*@index)+( @gutterW*(@index - 1 ) );
            padding-left: @gutterW/2px;
            padding-right: @gutterW/2px;
         }
      .padded(@index - 1);
    }
    //.spanNoGutter (0) {}
    .padded(@gridColumns);

    .padded-left (@index) when (@index > 0) {
      (~".span@{index}>.padded-left") {
            margin-left:-@gutterW/2px;
            width:(@columnW*@index)+( @gutterW*(@index - 1) );
            padding-left: @gutterW/2px;
         }
      .padded-left(@index - 1);
    }
    //.spanNoGutter (0) {}
    .padded-left(@gridColumns);

    .padded-right (@index) when (@index > 0) {
      (~".span@{index}>.padded-right") {

            width:(@columnW*@index)+( @gutterW*(@index - 1) );
            padding-right: @gutterW/2px;
         }
      .padded-right(@index - 1);
    }
    //.spanNoGutter (0) {}
    .padded-right(@gridColumns);

    .marged (@index) when (@index > 0) {
      (~".span@{index}>.marged") {
            margin-left:-@gutterW/2px;
            width:(@columnW*@index)+( @gutterW*(@index ) );
         }
      .marged(@index - 1);
    }
    //.spanNoGutter (0) {}
    .marged(@gridColumns);

    .marged>.row{
      margin-left:-@gutterW/2px;
    }
}



/* Large desktop */
@media (min-width: 1200px) {    
    .CustomGutter(@gridGutterWidth1200,@gridColumnWidth1200);
}

@media (min-width: 979px) and (max-width: 1200px) {    
    .CustomGutter(@gridGutterWidth,@gridColumnWidth);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .CustomGutter(@gridGutterWidth768,@gridColumnWidth768);
}


.mobileGutter{

  [class*="span"]{
    >.marged{
      width:100%;
      margin-left:auto;
      >.row{
        width:100%;
        margin-left: auto;
      }
    }
    >.padded{
      width:auto;
      padding-left: auto;
      padding-right: auto;
      margin-left: auto;
    //  margin-left: 0px;
    }



  }





}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .CustomGutter(@gridGutterWidth,@gridColumnWidth);
  .mobileGutter;

}

/* Landscape phones and down */
@media (max-width: 480px) {
  .CustomGutter(@gridGutterWidth,@gridColumnWidth);
  .mobileGutter;
}


//---------margins paddings / top / bottoms------------------

.generateMargins (@index) when (@index > 0) {
  (~".mt@{index}") {
    margin-top:@index*15px;
  }
  (~".mb@{index}") {
    margin-bottom:@index*15px;
  }
  (~".pt@{index}") {
    padding-top:@index*15px;
  }
  (~".pb@{index}") {
    padding-bottom:@index*15px;
  }
  .generateMargins(@index - 1);
}
.generateMargins(10);








