
.subcatMedia{
  background: white;
  padding-bottom:15px;

  .item-media-section {
    text-align:center;
    .font-download-page;
    height:@grid_square * 3px;
    line-height:@grid_square * 3px;
  }
}

.subcatMediaPreview{

  .subcatMediaList{
    height:325px; //5px for debug
    background-color: #ffe45c; //for debug
  }

}
.downloadBox {
    //padding-top:15px;
    height:320px;
    .wysiwyg-menu{
      /*padding-top: 15px;;*/
    }
    div {

		
		&.noGutter{
          height:320px;
		  background: @color5;
		}
		
		&.item-media-data {
			.bg-color-download-bloc;
			img {
				width:100%;						                 
			}
		} 
        
        &.item-media-content {		
			
			.separator-media;		
							   
				div.item-media-name {
					.padding-gutter;
					.font-media-name;						                      
				}
				div.item-media-link {
					.padding-gutter;
					.button{
						.pull-right;
                        margin-bottom: 4px;
                        min-width:90px;
					} 
				}        
            
        }
    }
}

.downloadBox.is-admin{
  height:400px;
  margin-top:40px;

  .noGutter{
    height:400px;
  }

  [data-field-type="File"]
  {
    //height:40px;

    input[type='text']{
    display:none;
    }
  }

  .item-media-link{
    padding:0px;

    .progressContainer{
      float:right;
      width:120px;
      height:30px;
      position:relative;

      .button{
        position: absolute;
        right:0px;
        top:0px;
        width:120px;

      }

      .progress{
        position: absolute;
        right:0px;
        top:0px;
        left:0px;
        right:0px;
        width:120px;
        opacity:0.2;
      }

      .btn-input-file{
        position:absolute;
        left:-30px;
      }
    }
  }

}