.mediaPreviewComponent {    
    div {        
        &.item-media-section {
            text-align:center;
            .font-download-page;  
            height:@grid_square * 3px;
            line-height:@grid_square * 3px;
        }
		
		&.noGutter{
			background: @color5;
		}
		
		&.item-media-data {
			.bg-color-download-bloc;
			img {
				width:100%;						                 
			}
		} 
        
        &.item-media-content {		
			
			.separator-media;		
							   
				div.item-media-name {
					.padding-gutter;						                      
				}
				div.item-media-link {
					.padding-gutter;
					.button{
						.pull-right;
					} 
				}        
            
        }
    }
}