/* MAIN NAV TABS */
.navBarComponent {
    text-align: center;
    .bg-color-separator-bloc;
    
    .item-nav {
    
        height:@grid_square * 5px;
        position:relative;
        .font-nav-tab-title;
        
        &.active {            
            a {
                .bg-image-active;
                color:@color3;
                &:hover{
                    .bg-image-active;
                }                            
            }            
            span.arrow {
                display:block;                
            }            
        }        

        a {
            .font-nav-tab-title;
            display:block;
            line-height:80px;
            &:hover{           
                background:@color5;  
                text-decoration:none;
            }            
            .separator-nav-tab;
        }
        
        span.arrow {
            background: url(@{path}/img/nav_tab_arrow.gif);             
            width:17px;
            height:9px;
            position:absolute;
            left:50%;
            bottom:-9px;
            margin:0 0 0 -8px;
            display:none;
        }

        .bg-color-title-bloc;
    }   
}
    