.postComponent {    
    div {    
        &.item-preview {
            
        }        
    }
}
.posts, .post{
    background: white;
    position: relative;



    width: 800px;

    margin-left:-15px;



    &>div.row{

        margin-left:-15px;


    }
}
