.postComponent {    
    div {    
        &.item-preview {
            
        }        
    }
}

#mainContentGutter {
    background-color: white;        
}

/*
.posts, .post{
    background: white;
    position: relative;



    //width: 800px;

    .marginNLeft-gutter;


    &>div.row{

        .marginNLeft-gutter;


    }
}
*/