.postPreviewComponent {
    .paddingTopMin-gutter;
    &.insidePost {
        .marginLeft-gutter;
    }
    div {
        &.item-content {
            div {
                &.item-component {
                    .marginLeft-gutter;


                    div {
                        &.item-text {
                            &>div {
                                .marginLeft-gutter;
                                width:100%;
                            }
                        }
                    }
                    
                }
            }
        }
        
        &.item-thumbnail {
            &.ppreview {
              //.paddingLeft-gutter;
            }

            .thumbnail;

        }

        &.item-title {
           .font-bloc-title-caps;
           color:@color2;
        }                
               
        &.item-description {
           .font-text-content-category-post;
        }

        &.item-video {
            position: relative;
            padding-top: 25px;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
        }
        &.item-video iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &.item-link-readMore {
            a {
                .font-text-link-category-post;
                color:@color2;
            }            
        }
        .separatorTextBloc{
          margin-top: 15px;
        }
        
    }

}