// PRESS ROOM
.pressRoomComponent {
    display:block;
    height:@grid_square * 8px;    
    .border-havana-pressroom-banner;
    .bg-image-go-press-room;
    div{
        &.item-content {
            text-align:center;
            position:relative;
            top:@grid_square * 2.5px;            
        }
        
        &.item-title {
            .font-havana-cultura;
            position:relative;
            padding-left: 36px;
            top:@grid_square * 0.25px;
            i{
                margin-left: 12px;
            }
        }
                
        &.item-subtitle {
            .font-link-pressroom;
        }
    }
}