// SHARE COMPONENT
.shareComponent{
    div {
        &.item-share {
          margin-left: 0;
        }
    }    
    .item-email { // popinEmailButton
        background: url(@{path}/img/sendtofriend.png) no-repeat;
        cursor: pointer;
        .pull-left;
        display: block;
        width: 32px;
        height: 20px;
        overflow: hidden;
        margin-right: 11px !important;
    }
    .item-google { // plusone
        display: block;
        .pull-left;
        margin-right: 11px !important;
    }
    .item-twitter { // twitter-share-button
        display: block;
        //.pull-left;
        height: 20px;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }

    .twitter-share-button {
      //float:left;
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
}

.fb_edge_widget_with_comment {
  bottom: 3px;
}


.ie6 .shareComponent .item-google, .ie7 .shareComponent .item-google {
    display:none; /* not supported */
}